name: Python Package using Conda

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v3
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        activate-environment: pyepo-build
        python-version: 3.9
        auto-activate: false
        conda-remove-defaults: true
    - name: Install Conda-Build and Anaconda-Client
      run: conda install conda-build anaconda-client
    - name: Build Conda Package
      run: conda build ./pkg -c conda-forge -c pytorch -c gurobi -c default
    - name: Extract Package Version
      run: |
        PACKAGE_VERSION=$(conda search --json -c local pyepo | jq -r '.pyepo[-1].version')
        echo "PACKAGE_VERSION=$PACKAGE_VERSION" >> $GITHUB_ENV
    - name: Find and Upload Conda Package
      env:
        ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_API_TOKEN }}
      run: |
        PKG_PATH=$(conda build --output ./pkg -c conda-forge -c pytorch -c gurobi -c default)
        echo "Package path: $PKG_PATH"
        conda install -n pyepo-build anaconda-client --yes
        conda run -n pyepo-build anaconda upload --user pyepo $PKG_PATH
